* {
  margin: 0;
  box-sizing: border-box;
}
.header {
  padding: 20px;
  background-color: rgb(221, 214, 214);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header img {
  float: left;
  width: 60px;
  height: 60px;
}
.searchButton {
  background-color: rgb(221, 214, 214);
  height: 57px;
  width: 377px;
  display: flex;
}
.searchButton:focus-within {
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
}
.searchButton-input {
  padding: 20px;
  font-size: medium;
  border: none;
  background: rgb(196, 189, 189);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
}
.searchButton-input:focus {
  outline: none;
}
.searchButton-button {
  width: 5%;
  padding: 26px;
  background: rgb(196, 189, 189);
  font-size: 17px;
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}
.signinbuttons {
  display: flex;
  justify-content: space-evenly;
}
.signin {
  height: 50px;
  width: 80px;
  margin: 20px;
  background-color: rgb(44, 41, 41);
  border: none;
  border-radius: 10px;
  text-align: center;
  color: aliceblue;
  cursor: pointer;
}
.login {
  height: 50px;
  width: 80px;
  margin: 20px;
  background-color: rgb(44, 41, 41);
  border: none;
  border-radius: 10px;
  text-align: center;
  color: aliceblue;
  cursor: pointer;
}
